@charset "UTF-8";
/* CSS Document
Client: 
Company: Informatics, Inc
Author: J Stephens
Date: 

Green: #5B8428
*/

/* TYPOGRAPHY */
html {height: 100%;}
body {font-family: "Lato", sans-serif; font-size: 15px; background: #eee; height: 100%; color: #555;}
h1, h2, h3, h4, h5 {color: #222; font-family: "Lato", serif; font-weight: 400;}
h1 {font-size: 26px; color: #fff; background: #5B8428; padding: 15px; margin: 0 0 1em 0; font-weight: 300;}
h2 {font-size: 32px; font-family: "Lato", sans-serif; font-weight: 300; color: #111; margin: 0 0 .5em 0;}
h3 {font-size: 18px; font-family: "Lato", sans-serif; font-weight: 700; text-transform: uppercase; color: #333; margin: 0 0 1em 0; color: #5B8428;}
p {margin-bottom: 2em;}
ul {margin: 0 0 2em 0;}
hr {border-color: #ccc; margin: 2em 0;}
.ccm-page header {background: rgba(0,0,0,.6); padding: 20px 0; background: #5B8428;}

/* LINKS */
a {color: #5B8428;}
a:hover {text-decoration: none; color: #7eab37;}
a:visited {color: #7eab37;}
a.btn-primary {}
a.btn-primary:hover {}
a.button {display: inline-block; background: #5B8428; color: #fff; text-transform: uppercase; font-weight: 700; font-size: 12px; padding: 8px 15px; margin: 10px 0 0 0;}
.ccm-search-block-submit,.ccm-search-block-submit:hover,.ccm-search-block-submit:active {display: inline-block; background: #5B8428; color: #fff; text-transform: uppercase; font-weight: 700; font-size: 12px; padding: 8px 15px; border-radius: 0px !important}

p a {text-decoration: underline;}

/* Animate */
a {
-webkit-transition: all .25s linear;
-moz-transition: all .25s linear;
-o-transition: all .25s linear;
transition: all .25s linear;
}

/* Mobile First */
body {background: url(../img/bkg-body.png);}
.container {position: relative; background: #fff;}
#toggle {background: #5B8428; margin: 0; width: 100%; border-radius: 0;}
#toggle .icon-bar {background: #fff;}
#logo {max-width: 100%; margin: 10px 0;}

#nav {border: 0; margin: 0 0; border-radius: 0;}
#nav-main a, #nav-mini a {font-size: 14px; padding: 10px; color: #666; font-weight: 700; border-bottom: 1px solid #ccc;}
#nav-mini a {border: 0; border-top: 1px solid #ccc;}
#nav-main {margin: 0 -15px 0 -15px;}
#nav-main ul {display: none;}
#search {display: none;}

#login {width: 100%; padding: 10px 0; font-size: 14px; margin: 0 -15px;}
#login input {margin: 0 5px 5px 0; padding: 5px; width: 75%;}
#login button {background: #5A851F; color: #fff; border: none; padding: 6px 10px; font-size: 13px; height: 34px;}

#slider {width: 100%; float: left; float: left; position: relative; background: #333;}
#slider .slide, #slider .cycle-slide {width: 100%;}
#slider .slide img {max-width: 100%;}
#slider .slide-text {background: #333; color: #fff; padding: 20px;}
#slider .slide-text h3 {color: #fff; margin: 0 0 5px 0; text-transform: uppercase;}
#slider .slide-text h2 {margin: 0 0 10px 0; color: #fff; font-size: 24px; border: none; padding: 0;}
#slider .slide-text p {font-size: 15px; margin: 0; opacity: .8;}
#slider .slide-text a {display: inline-block; background: #5B8428; color: #fff; text-transform: uppercase; font-weight: 700; font-size: 12px; padding: 8px 15px; margin: 10px 0 0 0;}

#slide-pager {background: rgba(0,0,0,.4); position: relative; height: 50px; z-index: 550;}
#pager {position: absolute; left: 20px; bottom: 20px; z-index: 500;}
#pager span {display: block; width: 8px; height: 8px; margin: 0 2px; float: left; border-radius: 50%; background: #fff; padding: 0; text-indent: -9999em;}
#pager span.cycle-pager-active {background: #5A851F;}
a.slide-nav {display: block; width: 50px; height: 50px; position: absolute; right: 0; bottom: 0; border: 1px solid rgba(0,0,0,.5); z-index: 500; text-align: center; font-size: 18px; line-height: 50px; color: #fff; margin-left: 0;}
#prev {right: 50px;}
a.slide-nav:hover {color: #537624;}

.cols {padding: 20px 0 40px 0; width: 100%; float: left; border-bottom: 1px dotted #ccc; margin: 0 0 20px 0;}
.cols hgroup {text-align: center; padding: 30px 0; margin: 20px 0 0 0; border: none; border-top: 1px dotted #ccc; }
.hpg-col {font-size: 15px; font-weight: 300; line-height: 18px; text-align: center; margin: 0 0 20px 0; padding-top: 20px; border-top: 1px dotted #ccc;}
.hpg-col p {margin: 0 0 0 0;}
.cols h3 {font-size: 16px;}

.two-col {padding: 40px 0;}
.two-col img {max-width: 100%;}
.two-col h2 {font-size: 24px;}
.meeting img {margin: 10px 0;}

.news-item {width: 100%; float: left; position: relative; padding: 20px 0 20px 90px; border-bottom: 1px dotted #ccc;}
.news-item img {position: absolute; left: 0; top: 20px;}
.news-item h3 {margin: 0; letter-spacing: normal; text-transform: none; font-size: 16px;}
p.date {color: #999; margin: 5px 0 5px;}
.news-item p {margin: 0; font-size: 14px; line-height: 18px;}

.meeting h3 {margin: 10px 0 5px 0;}
.meeting p {margin: 5px 0;}
.meeting ul {margin: 0;}

aside {border-right: 1px solid #ccc; box-shadow: inset -5px 0 5px rgba(0,0,0,.05); margin-top: 0; padding-bottom: 30px;}
aside img {max-width: 100%; padding: 0 25px 0 0;}
aside h3 {font-size: 12px; color: #fff; background: #598612; padding: 5px; margin: 0 -1px 0 0 ;}
aside ul a {display: block; padding: 8px 5px; border-bottom: 1px dotted #ccc; color: #666;}
aside ul a:hover {background: #f2f2f2; text-decoration: none; color: #333;}

#sec+h3 {margin-top: 20px;}
#sec ul, aside ul {list-style: none; padding: 0;}
#sec ul a {display: block; padding: 8px 5px; border-bottom: 1px dotted #ccc; color: #777;}
#sec ul a:hover, #sec ul a:active {text-decoration: none; color: #333;}
#sec ul > .nav-path-selected > a {font-weight: bold; color: #598612;}
#sec ul ul a {font-weight: normal; padding: 5px 0 5px 20px;}
#sec ul .nav-path-selected a + ul {border-top: 1px solid #fff; margin-top: -1px;}
#sec ul ul ul a {padding: 5px 5px 5px 30px !important; font-size: 13px; background: #f9f9f9;}
#sec ul ul ul ul {display: none;}

hgroup {border-bottom: 1px dotted #ccc; margin: 20px 0;}

footer {text-align: center; border-bottom: 30px solid #588700; color: rgba(255,255,255,.5); font-size: 13px;}
footer .container {background: #444; margin-bottom: -15px;}
footer p { margin: 0; padding: 15px 0;}

.bio {width: 100%; float: left; margin: 0 0 10px 0;}
.bio .bio-img {width: 125px; height: 150px; overflow: hidden; position: relative; float: left; margin: 0 15px 0 0;}
.bio img {width: 100%; }
.bio .bio-text {float: left;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

body {border-top: 30px solid #5B8428;}
.container.main { margin-top: -15px; box-shadow: 0 0 5px rgba(0,0,0,.2);}
#header {width: 100%; z-index: 150; margin: 0 0 20px 0; border: 0; border-radius: 0;}
#logo {width: 240px; margin: 10px 0 ;}

#nav-main a {border: none; padding: 15px 15px 5px 15px; position: relative; border-bottom: 5px solid #fff;}
#nav-main a:after {position: absolute; left: -4px; top: 15px; content: "/"; color: #ccc;}
#nav-main li:first-child a:after {display: none;}
#nav-main li:hover > a,#nav-main a:focus, #nav-main li > a:active, #nav-main > li.nav-path-selected > a {border-color: #5A851F; background: none; color: #222;}
#nav-main ul {position: absolute; left: 0; top: 100%; width: 200px; text-align: left; padding: 0; box-shadow: 3px 3px 1px rgba(0,0,0,.2);}
#nav-main ul li {display: block; width: 100%;}
#nav-main ul a {display: block; background: #f2f2f2; padding: 5px 10px; margin: 0; border: 0; border-bottom: 1px solid #ccc; font-size: 14px; font-weight: normal;}
#nav-main ul a:hover {background: #fff; border-color: #ccc !important;}
#nav-main li:hover ul {display: block;}

#nav-mini {position: absolute; right: 0px; top: 60px;}
#nav-mini a {text-transform: uppercase; font-size: 11px; font-weight: normal; padding: 0px 4px; display: inline; border: 0; border-bottom: none;border-left: 1px solid #ccc;}
#nav-mini li:first-child a {border: none;}
#nav-mini a:hover {color: #222; background: none; text-decoration: underline;}

#search {display: block; position: absolute; right: 0; top: 17px;}
#search > a {width: 40px; height: 34px; display: block; font-size: 18px; padding: 3px; color: #444; border: 1px solid #ccc; background: #f2f2f2;}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
	right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 255px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #f2f2f2;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

#navbar {width: 100%;border-top: 1px dotted #ccc; float: left; padding: 0;}
#nav-main {text-align: center; width: 100%; float: none;}
#nav-main li {display: inline-block; float: none;}
#nav-main {margin: 0;}

#login {width: 350px; border: none; float: right; padding: 7px 0; font-size: 14px; text-align: right; position: absolute; top: 10px; right: 60px;}
#login input {margin: 0 5px 5px 0; padding: 5px; display: inline-block; width: 140px; height: 34px;}
#login button {background: #5A851F; color: #fff; border: none; padding: 6px 10px; font-size: 13px; height: 34px; float: right;}

#slider .slide-text {background: rgba(0,0,0,.6); color: #fff; padding: 25px; position: absolute; left: 0; top: 0; bottom: 0; width: 45%;}
#slider .slide-text h3 {font-size: 14px;}
#slider .slide-text h2 {margin: 0 0 10px 0; color: #fff; font-size: 24px; border: none; padding: 0;}
#slider .slide-text p {line-height: 18px;}

#pager {right: auto; left: 25px;}
.cols hgroup {margin-top: 00px;}
.hpg-col {border: 0;}
.hpg-col p {margin: 0 0 15px 0;}

.two-cols {margin-bottom: 20px; width :100%; float: left;}
.two-col {width: 50%; float: left;}
.two-col:first-of-type {padding: 20px 40px 40px 20px;}
.two-col:last-of-type {padding: 20px 20px 40px 40px; border-left: 1px dotted #ccc;}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

.container {padding: 0 20px;}

#logo {width: 300px; margin: 30px 0 0 0;}
#header {border-bottom: 1px dotted #ccc; padding: 0; margin: 0 0 20px 0;}
#navbar {margin: 10px 0 0 0; border: none; width: auto; float: right;}
#login {top: 5px;}
#search {top: 12px;}

#nav-main a {padding: 18px 7px;}
#nav-main a:after {top: 18px;}
#nav-main {width: auto; margin: 60px 0 0 0;}
#nav-mini {top: 50px;}

#slider .slide-text {padding: 40px; width: 44%;}
#slider .slide-text h3 {font-size: 18px;}
#slider .slide-text h2 {font-size: 36px;}
#slider .slide-text p {margin: 0 0 20px 0;}

#slide-pager {width: 44%; margin: -50px 0 0 0;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
#logo {width: auto; margin: 25px 0 0 0;}
.container {max-width: 1075px;}
#nav-main a {font-size: 15px; padding: 18px 10px;}

#slider .slide-text {padding: 40px; width: 40%;}
#slide-pager {width: 40%;}

.cols hgroup {padding: 30px 150px 30px 150px;}
}


.text-center{text-align:center;}
/* SR(05/20/2020) - chart #74245 */
.regional-representatives .popover-content {padding: 9px 14px 9px 0px !important;}
.regional-representatives .state-list {margin: 0px !important;}